<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Австрия список языков</title>
    <h1>Австрия</h1>
</head>
<body> 
    <ol>
        <li>Немецкий</li>
        <li>Алеманнский</li>
        <li>Австро-баварский</li>
        <li>Турецкий</li>
        <li>Сербский</li>
        <li>Румынский</li>
        <li>Бургенландский хорватский</li>
        <li>Венгерский</li>
        <li>Словенский</li>
    </ol>

    <p><a href="http://127.0.0.1:8000/countries">Список стран</a></p>


    
</body>
</html>

